.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

a:link {
  text-decoration: none;
}

p{
  font-family: Open Sans, sans-serif;
  font-size: 20px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-heading {
  font-family: Bungee Shade;
}

.banner{
  background-color: #F3DFA2;
  overflow:auto; 
  width:100%; 
}

.intro {
  border-bottom: 2px solid #F3DFA2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.intro-p {
  font-family: courier, "courier new", monospace;
  font-size: 35px;
  color: #000000;
  font-style: oblique;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  margin-left: 5em;
}

#middlep {
  margin-left: 3em;
}

#heatmap-col {
  height: 100%;
}

#heatmap-box {
  height: 100%;
}

#newmap {
  height: 100%;
  min-height: 500px;
}

#selectdateheading {
  margin-left: 1em;
}

#selectdatevalue {
  margin-left: .1em;
}

input[type=time] {
  margin-left: 1.75em;
  -moz-appearance: none;
}

#timevalue {
  margin-left: 1.5em;
}

input[type=checkbox] {
  margin-left: 3em;
  width: 2.5em;
  height: 2em;
  -moz-appearance: none;
}

#showtraffic {
  margin-left: 2em;
}

#locationinput {
  height: 1.5em;
  width: 9.32em;
  font-size: 16pt;
}

#locationvalue {
  margin-left: 10%;
}

#submitbutton {
  margin-bottom: 2.5em; 
}

#time {
  height: 2em;
  width: 6em;
}

.selections {
  height: 7em;
  width: 3em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.rec-row {
  margin-bottom: 30px;
}

.rec {
  height: 100%;
}

.rec-name {
  margin-top: 15px;
}

.srow {
  margin-bottom: .5em;
}