.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(132, 0, 255);
}

p{
  font-family: Open Sans, sans-serif;
  font-size: 20px;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-heading {
  font-family: Bungee Shade;
}

#banner {
  background: linear-gradient(45deg, rgba(23, 24, 87, 0.746), rgba(58, 7, 82, 0.74));
  padding-left: 50px;
}

#banner-heading {
  font-family: Bungee Shade;
  color: white;
}

#banner-heading:hover {
  color: rgb(190, 195, 238);
}

#settings-container {
  margin-bottom: 30px;
}

.intro {
  border-bottom: 2px solid #F3DFA2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#intro-p {
  font-family: courier, "courier new", monospace;
  font-size: 35px;
  color: #000000;
  font-style: oblique;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 2px;
  line-height: 30px;
}

#top {
  height: 50px;
}

#heatmap-col {
  width: 100%
}

#heatmap-box {
  height: 100%;
}

#newmap {
  height: 100%;
  min-height: 500px;
}

#form-box {
  height: 100%;
}
/* #selectdateheading {
  margin-left: 1em;
}

#selectdatevalue {
  margin-left: .1em;
}

input[type=time] {
  margin-left: 1.75em;
  -moz-appearance: none;
}

#timevalue {
  margin-left: 1.5em;
} */

input[type=checkbox] {
  /* margin-left: 3em; */
  width: 2.5em;
  height: 2em;
  /* -moz-appearance: none; */
}

/* #showtraffic {
  margin-left: 2em;
}

#locationinput {
  height: 1.5em;
  width: 9.32em;
  font-size: 16pt;
}

#locationvalue {
  margin-left: 10%;
}

#submitbutton {
  margin-bottom: 2.5em; 
} */

/* #time {
  height: 2em;
  width: 6em;
} */

.btn-primary {
  background: linear-gradient(45deg, rgba(23, 24, 87, 0.746), rgba(58, 7, 82, 0.74));
  border-style: none;
  font-family: Bungee Inline;
}
.selections {
  height: 100%;
  /* width: 3em;
  margin-bottom: 1em;
  font-size: 1.5em; */
}

#selection-row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rec-row {
  margin-bottom: 30px;
}

.rec {
  height: 100%;
}

.rec-name {
  margin-top: 15px;
}

.srow {
  margin-bottom: .5em;
}