.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

a:link {
  text-decoration: none;
}

p{
  font-family: Open Sans, sans-serif;
  font-size: 20px;
}

.carousel-heading {
  font-family: Bungee Shade;
}

.banner{
  background-color: #F3DFA2;
  overflow:auto; 
  width:100%; 
}

#heatmap-col {
  height: 100%;
}

#heatmap-box {
  height: 100%;
}

#newmap {
  height: 100%;
  min-height: 500px;
}

input[type=checkbox] {
    width: 35px;
    height: 35px;
    -moz-appearance: none;
}

input[type=text] {
    width: 8em;
    height: 1.5em;
    font-size: .9em;
    -moz-appearance: none;
}

.selections {
  margin-bottom: 1em;
  font-size: 1.5em;
}

.rec-row {
  margin-bottom: 30px;
}

.rec {
  height: 100%;
}

.rec-name {
  margin-top: 15px;
}