<!-- banner tag -->
<banner></banner>

<!-- heat map tag -->
<heatmap-container
  update-app-date="$ctrl.updateAppDate"
  selected-date="$ctrl.selectedDate"
  update-app-time="$ctrl.updateAppTime"
  selected-time="$ctrl.selectedTime"
  update-app-location="$ctrl.updateAppLocation"
  selected-location="$ctrl.selectedLocation"
  show-traffic="$ctrl.showTraffic"
  update-show-traffic="$ctrl.updateShowTraffic"
  new-map="$ctrl.newMap"
  go="$ctrl.go"
></heatmap-container>

<!-- recommendations -->
<recommends selected-date="$ctrl.selectedDate"></recommends>