<div class="container">
  <div  class="row intro">
    <div class="row">
      <p>
        we exist to help you navigate the masses.
      </p>
    </div>
    <div class="row" id="middlep">
      <p>
        adjust and submit the settings to
      </p>
    </div>
    <div class="row">
      <p>
        checkout the heat-map and recommended events
      </p>
    </div>
  </div>
  
  <div class="container">
    
    <div class="row">
      
      <div class="col selections">
        <div class="row srow">
          <div class="row srow" id="selectdateheading">
            <h3>Select a date!</h3>
          </div>
          <datepicker
            date-format="shortDate"
            date-set="{{$ctrl.date.toString()}}"
            date-min-limit="{{$ctrl.minDate.toString()}}"
            date-max-limit="{{$ctrl.maxDate.toString()}}"
          >
            <input
              class="input-lg"
              readonly
              id="date"
              ng-model="selectedDate"
              type="text"
              ng-change="$ctrl.selectDate(selectedDate)"
              style="height:30px; width:200px; text-align:center; font-size:20px"
            />
          </datepicker>
        </div>
        <div class="row" id="selectdatevalue">
          <h4>{{$ctrl.displayDate}}</h4>
        </div>
      </div>
    
    <div class="col selections">
      <div class="row srow">
        <h3>Select a time!</h3>
      </div>
      <div class="row srow">
        <input class="input-lg" type="time" id="time" ng-model="selectedTime" ng-change="$ctrl.getTime()" />
      </div>
      <div class="row" id="timevalue">
        <h4>{{$ctrl.time}}</h4>
      </div>
    </div>
    
    <div class="col selections">
      <div class="row srow">
        <button class="btn btn-secondary btn-sm" type="submit" ng-click="$ctrl.getLocation(address)"><h5>Click to set location!</h5></button>
      </div>
      <div class="row srow">
        <input id="locationinput" type="text" id="address" ng-model="address" placeholder="zip or address" /><br />
      </div>
      <div class="row" id="locationvalue">
        <h4>{{$ctrl.location}}</h4>
      </div>
    </div>
    
    <div class="col selections">
      <div class="row srow">
        <h3>Show traffic?</h3>
      </div>
      <div class="row srow">
        <input type="checkbox" ng-model="showTraffic" ng-click="$ctrl.toggleTraffic()" />
      </div>
      <div class="row" id="showtraffic">
          <h4>{{$ctrl.showTraffic}}</h4>
      </div>
    </div>
    
  </div>
  
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <button type="submit" id="submitbutton" class="btn btn-primary btn-lg" ng-click="$ctrl.submit()">REQUEST NEW MAP</button>
      </div>
      <div class="col">
      </div>
    </div>
    
  </div>

</div>
