<div class="container-fluid">
  <div id="top" class="row"></div>
  <div class="row">
    <div class="col">
      <div class="row justify-content-center">
        <div class="su-box">
          <heatmap-ui
            update-app-date="$ctrl.updateAppDate"
            update-app-time="$ctrl.updateAppTime"
            update-app-location="$ctrl.updateAppLocation"
            update-show-traffic="$ctrl.updateShowTraffic"
            show-traffic="$ctrl.showTraffic"
            new-map="$ctrl.newMap"
            scrollToMap="$ctrl.scrollToMap"
          ></heatmap-ui>
        </div>
      </div>
    
      <div id="heatmap-col">
        <div id="heatmap-box" class="su-box">
          <heatmap
            selected-date="$ctrl.selectedDate"
            selected-time="$ctrl.selectedTime"
            selected-location="$ctrl.selectedLocation"
            show-traffic="$ctrl.showTraffic"
            go="$ctrl.go"
          ></heatmap>
        </div>
      </div>
    </div>
  </div>
</div>