<div class="container" style="border-color:#7EBDC2;">
  <div  style="border-bottom: 2px solid #F3DFA2; margin-bottom: 10px; padding-bottom: 10px">
    <h2>Welcome to Quiet Corner</h2>
    <div style="text-align: left">
      <p>
        We exist to help you navigate the masses of New Orleans. Just select a date then checkout the heat map of hot events and recommended events.
      </p>
    </div>
  </div>
  
  <div class="container">
    
    <div class="row">
      
      <div class="col">
        <div class="row">
          <h3>Select a date!</h3>
        </div>
        <div class="row">
          <button type="submit" id="submitbutton" ng-click="$ctrl.submit()">Submit Selections</button>
        </div>
        <div class="row">
          <datepicker
            date-format="shortDate"
            date-set="{{$ctrl.date.toString()}}"
            date-min-limit="{{$ctrl.minDate.toString()}}"
            date-max-limit="{{$ctrl.maxDate.toString()}}"
          >
          <input
          class="input-lg"
          readonly
          id="date"
          ng-model="selectedDate"
          type="text"
          ng-change="$ctrl.selectDate(selectedDate)"
          style="height:30px; width:200px; text-align:center; font-size:20px"
          />
        </datepicker>
      </div>
      <div class="row">
        <h4>{{$ctrl.displayDate}}</h4>
      </div>
    </div>
    
    <div class="col">
      <div class="row">
        <h3>Select a time!</h3>
      </div>
      <div class="row">
        <input class="input-lg" type="time" id="time" ng-model="selectedTime" ng-change="$ctrl.getTime()" />
      </div>
      <div class="row">
        <h3>Time:</h3>
      </div>
      <div class="row">
        <h4>{{$ctrl.time}}</h4>
      </div>
    </div>
    
    <div class="col">
      <div class="row">
        <h3>Set location!</h3>
      </div>
      <div class="row">
        <input type="text" id="address" ng-model="address" placeholder="zip or address" /><br />
        <button type="submit" ng-click="$ctrl.getLocation(address)">stage location for new map</button>
        <!-- <h5>auto-select your current location!</h5> -->
        <!-- <button type="submit" ng-click="$ctrl.getLocation()">Find Near Me</button> -->
      </div>
      <div class="row">
        <h3>Location:</h3>
      </div>
      <div class="row">
        <h4>{{$ctrl.location}}</h4>
      </div>
    </div>
    
    <div class="col">
      <div class="row">
        <h3>Check this box to show traffic!</h3>
      </div>
      <div class="row">
        <input class="input-lg" type="checkbox" ng-model="showTraffic" ng-click="$ctrl.toggleTraffic()" />
      </div>
      <div class="row">
        <h3>Show traffic:</h3>
      </div>
      <div class="row">
          <h4>{{$ctrl.showTraffic}}</h4>
      </div>
    </div>
    
  </div>
  
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h3>REQUEST NEW MAP!</h3>
        <button type="submit" id="submitbutton" ng-click="$ctrl.submit()">Submit Selections</button>
      </div>
    </div>
    
  </div>

</div>
